/* new year banner starts here */
.new-year{
    font-family: 'Merriweather', serif;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    margin-top: 50px;
    margin-left: 140px;
    height: 600px;
    width:1320px;
border-radius: 16px;
position: absolute;
}

.new-year h3{
    position: relative;
    text-align: center;
    top: 177px;
    color: #FFFFFF;
    font-weight: 400;
   font-size: 32px;
}
.new-year h1{
   
    position: relative;
    top: 130px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 72px;
}
/* discount banner starts here */
.discount{
height: 900px;
width: 804px;
position: absolute;
top:650px;
left: 399px ;
}
.discount-header{
    font-family: Inter;
    color:#FF0000 ;
text-align: center;
font-size: 88px;
margin-bottom: 5px;
}
.discount-description{
    font-size: 24px;
    text-align: center;
}
.discount img {
    width:804px ;
    height: 500px;
    margin: 0;
    position:relative;
    bottom: 0px;
}
.discount h2{
    margin-top: 35px;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
}
.discount span{
    gap: 10px;
font-size: 48px;
color: #070211;
font-weight: 700;
}
/* invitation starts here */
.invitation{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../resources/Vectorrr.png);
    
    top: 1696px;
    height: 600px;
    width: 1320px;
    margin-left: 140px ;
    position: absolute;
}
.invitation-description
{
    position: relative;
    top: 126px;
    left: 126px;
    
    
}
.invitation h1{
    font-weight: 900;
    font-size: 64px;
    width: 550px; 
    height: 176px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.invitation h5{
    margin-top: 0px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    width: 600px;
height: 60px;
}
.invitation button{
position: relative;
width: 103px;
height: 24px;
left: 28px;
color: #FFF;
text-align: center;
font-family: Inter; 
background-color: #070211;
border: none;
}
.invitation img{
    position: relative;
top: -280px;
    left: 800px;
}
/* details banner starts here */
.details{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    position: absolute;
    margin-top: 50px;
    margin-left: 140px;
height: 482px;
border-radius: 16px;
width: 1320px;
top:2400px ;
}
.details h3
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 100px;color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}
.details span
{
    color: #F00; 
}
.details button{
    color: #FFF; 
    background-color: #F00;
    padding:16px 32px;
    position: relative;
    top: 116px;
    left: 576px;
    border: none;
    border-radius: 8px;

}

/*advertising*/
.advertise{
    position: absolute;
    margin-top: 50px;
    margin-left: 140px;  
    top:3050px;
    width: 1600px;
    margin-bottom: 0px;
}
.advertise-header{
    color: #F00;
font-family: Inter;
font-size: medium;
font-style: normal;
margin-bottom: 16px;
}
.advertise h1{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin: 0px;
}
.advertise-description{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-style: normal;
margin-top: 22px;
}
/*address*/
.address{
    position: absolute;

    margin-left: 140px;  
    top:4500px;
    width: 1320px;
height: 616px;
border-radius: 16px;
background-color: rgba(255, 0, 0, 0.05);
}
.address img{
  position: relative;
    top: 80px;
    left: 585px;
}
.address h1{
    position: relative;
    top: 40px;
    left: 484px;
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.address h6{
    position:relative; 
    top:22px;
    left:212px;
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-style: normal;
font-weight: 400;
width: 896px;
}
.address-button{
    text-align: center;
    position: relative;
    left: 250px;
    top: 48px;
    width: 648px;
height: 72px;
border-radius: 50px 0px 0px 50px;
border: none;
font-size: 18px;
}
.subscribe-button{
    position: relative;
width: 210px;
height: 77px;
border-radius: 0px 50px 50px 0px;
border: none;
background-color: #F00;
top: 48px;
left: 240px;
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 400;

}
/* footer */
.footer-section{
    position: absolute;
    top: 5300px;
    width: 1600px; 
    background: #070211;
}
.footer-section h6{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;

}
.footer-descriotion{
    position: relative;
    display: flex;
    width: 575pxpx;
    top: 120px;
    left: 140px;
}
.footer-mobile{
    position: relative;
    left: 800px;
    display: flex;
margin: 0px;
padding: 0px;
}
.footer-website{
    position: relative;
    left: 800px;
margin-bottom: 0px;
padding: 0px;
}
.footer-images{
    text-align: center;
   margin-right: 5px;
}
.footer-section img{
    margin-right: 25px;
}
.contact-image{
    height: 24px;
    width: 24px;
}
.footer-section button{
    position: relative;
    left: 1315px;
    top: -60px;
    font-size: 24px;
    background-color: #070211;
    color: #FFFFFF;
    border: none;
}
  .copyright{
    position: relative;
    left: 100px;
  }